body {
    margin: 0px;
    background-image: url(/Users/sergeiboiko/Study/DI-Bootcamp-Stage1/Final-project/2_2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
}

img {
    margin-left: px;
}

.button-container {
    margin: 0px;
    padding-top: 2px;
    width: auto;
    height: 50px;
    background-color: rgba(79, 95, 92, 0.642);
    border: 2px solid rgb(66,75,59);
}

.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1px;
    
}

.button {
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 50px;
    border: 0;
    border-radius: 25px;
    background-color: rgba(66, 75, 59, 0.244);
    transition: all 1s;
}

.button:hover {
    transform: scale(1.15);

}

.titel1 {
    display: inline-table;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    left: 520px;
    top: 200px;
    width: 330px;
    height: auto;
    text-align: center;
    color: rgb(66,81,87);
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
}