/*Selector {
    Property: value;
}*/

body {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}

h2, p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Cormorant Garamond', serif;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}

img {
    float: right;
}

* {
    text-align: right;
}




/* {
    color: blue;
}

footer p {
    background-color:red;
}


h1+h4 {
    background-color:blue;
}

ul > li {
    background-color:blue;
}

a[href="#"] {
    background-color:blue;
}

selector:pseudo-class {
    property: value;
  }

  li:first-child {
    background-color:blue;
}


li:nth-child(2) {
    background-color: teal;
}


button {
    background-color: red;
}

button:hover {
  background-color: blue;
}

p {
    font-size: 16px;
}

p {
    font-size: 100px;
}

.class
#id
*
element
element, element
element element
element > element
element + element
:hover
:last-child
:first-child
!important (not recommended)