{% extends 'partials/base.html' %}

{% block title %} 

{% endblock title %}
{% block content %}

<h1>{{title}}</h1>


<div class="films">
        {%for film in films%}
    
        <div class="imghp">
            <h3>{{film.title}}</h3>
            <p>Date created: {{film.release_date}}</p><br>
            <p>Country of origin:<br> {{film.created_in_country}}</p><br>
            <p><a href="{% url 'addcomment'%}">Comment</a></p>
            
            <p>Director(s):</p>
            {%for i in film.director.all%}
            
            <p>{{i}}</p>
            {% endfor %}

        </div>
    
        {%endfor%}
    </div>

{% endblock %}