body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



h1 {
    background-color: rgb(241, 192, 255);
    border: 3px solid black;
    width: 502px;
    height: 85px;
    margin: 10px;
}

h2 {
    background-color: rgb(228, 47, 77);
    border: 3px solid black;
    width: 150px;
    height: 300px;
    margin: 10px;
}

h3 {
    background-color: rgb(154, 222, 118);
    border: 3px solid black;
    width: 150px;
    height: 300px;
    margin: 10px;
}

h4 {
    background-color: rgb(215, 200, 101);
    border: 3px solid black;
    width: 150px;
    height: 300px;
    margin: 10px;
}