
{%extends 'algapp/base.html'%}

{%block content%}

<div class="menu">
    <h2>Adapted menu</h2>
</div>




<div class="bg-image">
    <div class="menu-container">
        <div id="boxes"> 
            {% csrf_token %}
            {% for dish, allergic_m, allergic_v, ingredients_main, ingredients_var in dishes_allergens %}
                <div class="content">
                    <p><b>{{ dish.name }}</b></p><br> 
                    Ingredients:
                    {% for i in ingredients_main %}
                        <br>
                        {% if i.name in allergic_m %}
                            <span style="color: red;">{{ i.name }}</span>
                        {% else %}
                            {{ i.name }}
                        {% endif %}
                    {% endfor %}<br>
                    {% for i in ingredients_var %}
                        <br>
                        {% if i.name in allergic_v %}
                            <span style="color: orange;">{{ i.name }}</span>
                        {% else %}
                            {{ i.name }}
                        {% endif %}
                    {% endfor %}<br><br>
                    <div id="dish_phrase">
                        {% if allergic_m %}
                            <p><img src="/static/algapp/images/warning_red.png" width="30px"></p><br>
                            <p><b>Found allergens in base ingredients: {% for allergen in allergic_m %} {{ allergen }} {% endfor %}</b></p>
                        {% endif %}
                        {% if allergic_v %}
                            <p><img src="/static/algapp/images/warning_yellow.png" width="30px"></p><br>
                            <p><b>Found allergens in modifiable ingredients: {% for allergen in allergic_v %}{{ allergen }} {% endfor %}</b></p>
                        {% endif %}
                    </div><br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    
    
{%endblock content%}