{%extends 'algapp/base.html'%}

{%block content%}

<div class="rest_p">
    <div class="rp_h1"><h1>Restaurant {{r.name}} </h1>

        {%csrf_token%}
        {{r.address}} 
    </div>
    <div class="form-container"><br>
        <form method="post" action="{% url 'dish_path' r.id%}">
            {% csrf_token %}
            
            <button type="submit" name="process_button">Show adapted menu</button>
        </form>
    </div>
</div>

<div class="bg-image">
    <div class="menu-container">
        <div id="boxes"> 

            {%for dish in dishes%}
            <div class="content">
            <p><b>{{dish.name}}</b></p><br> 
            Ingridients:{%for i in dish.dish%}<br>
            {{i}}
            {%endfor%}<br><br>

            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        
        
    </div>
</div>
    


{%endblock content%}




