body {
    background-color: rgb(226,172,127);
}

#wrap {
    background: rgb(245,245,220);
    border: 5px dashed black;
  }

h1 {
    border-bottom: 5px dashed black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 12px 12px 0px 12px;
    padding: 12px 12px 0px 12px;
}

ul {
    list-style: none;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0;

}

li::first-letter {
    font-size: 150%;
}

.copyright {
    text-align: center;
    margin: 6px;
    padding: 12px;
    font-size: 75%;
}