body {
    margin: 0px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Tilt Warp', cursive;
}

img {
    
    width: 300px;
    height: auto;
}

.box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.crossprice {
    color: rgb(90, 181, 90);
    font-size: 20px;
    padding: 3px;
}

span {
    color: rgb(80, 77, 77);
    font-size: 16px;
    padding: 3px;
    text-decoration: line-through;
    bottom: 5px;
}

.btn {
    font-size: 20px;
    color: rgb(80, 77, 77);
    width: 150px;
    height: 30px;
    
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(80, 77, 77);
}

.hidden {
    display: none;   
    
}

.whentouch {
    position: relative;
    bottom: 250px;
    opacity: 0;
    transition: all 400ms ease-out;
}

i {
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
}

.fa-bag-shopping {
    display: inline-block;
    background-color: rgb(90, 181, 90);
    font-size: 30px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
}

.image .whentouch:hover {
    display: inline-block;
    opacity: 1;
}
  