body {
    margin: 0px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Tilt Warp', cursive;
}

img {
    position: relative;
    width: 300px;
    height: auto;
}

.box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
}

.crossprice {
    color: rgb(90, 181, 90);
    font-size: 20px;
    padding: 3px;
}

span {
    color: rgb(80, 77, 77);
    font-size: 16px;
    padding: 3px;
    text-decoration: line-through;
    bottom: 5px;
}

.btn {
    font-size: 20px;
    color: rgb(80, 77, 77);
    width: 150px;
    height: 30px;
    
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(80, 77, 77);
}

.btn:hover {
    background-color: rgb(90, 181, 90);
}

.hidden {
    display: none;   
}

.image:hover .hidden {
    display: inline; 
}

.shadow {
    display: inline-block;
    width: 320px;
    height: 450px;
    padding: 20px;

}

.shadow:hover .box {
    box-shadow: 0px 8px 16px 0px rgb(90, 181, 90);
}

.whentouch {
    display: inline;
    position: relative;
    text-align: center;
    bottom: 200px;
}

i {
    position: relative;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    left: 70px;
}

.fa-bag-shopping {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
}

.fa-bag-shopping:hover {
    background-color: rgb(90, 181, 90);
}

.pop2 {
    display: none;
    color: white;
    background-color: black;
    width: 160px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    border: 1px solid green;
    border-radius: 5px;
    
}

.fa-bag-shopping:hover  .pop2 {
    display: inline;
    position: absolute;
    bottom: 50px;
    left: -60px;
    font-size: 20px;
}


.fa-heart:hover  {
    background-color: rgb(90, 181, 90);
}

.pop1 {
    display: none;
    color: white;
    background-color: black;
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    border: 1px solid green;
    border-radius: 5px;
    
}

.fa-heart:hover  .pop1 {
    display: inline;
    position: absolute;
    bottom: 50px;
    left: 45px;
    font-size: 20px;
}

.fa-bars:hover  {
    background-color: rgb(90, 181, 90);
}

.pop3 {
    display: none;
    color: white;
    background-color: black;
    width: 220px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    border: 1px solid green;
    border-radius: 5px;
    
}

.fa-bars:hover  .pop3 {
    display: inline;
    position: absolute;
    bottom: 50px;
    left: -140px;
    font-size: 20px;
}

.image {
    width: 300px;
    height: 385px;
}
  
.container {
    padding-bottom: 80px;
}