body {
    margin: 0px;
    clear: left;
}



div {
    display: flex;
    text-align: center;
}

img {
   
    max-width: 50%;
    max-height: 300px;
    margin: 10px;
}

.endofpage {
    border: 3px solid black;
}



