body {
    margin: 0px;
    background-image: url(/Users/sergeiboiko/Study/DI-Bootcamp-Stage1/Final-Project-Share/876987.jpg);
    background-size: cover;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    div {
        width : 30%;
        display: inline-block;
        /*background-color: aqua;*/
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    div {
        width : 45%;
        display: inline-block;
        /*background-color: pink;*/
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    div {
        width : 75%;
        display: inline-block;
        /*background-color: lightgreen;*/
    }
}

@media all and (max-width: 480px) { 
    div {
        
        width : 100%;
        /*background-color: yellow;*/
    }
}

.top-panel {
    width: 100%;
    
}

.dropbtn {
    background-color: rgba(79, 95, 92, 0.225);
    border: 2px solid rgb(66,75,59);
    color: white;
    padding: 16px;
    font-size: 22px;
    border-radius: 7px;
    width: 100%;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    transition: all 1s;
}

/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    background-color: rgb(84, 93, 103);
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
    color: rgba(0, 0, 0, 0.903);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    transition: all 1s;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
    scale: 1.1;
    background-color: rgb(64,72,79)}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: rgb(64,72,79);
    scale: 1.2;
}


/*.content {
    
    background-color: #000000;
    color: #ffffff;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    /*background-color: rgba(150, 116, 98, 0.687);*/
    /*max-width: 100%;
    max-height: 100%;
    height: 350px;
    width: 500px;
    font-size: 25px;
    text-align: center;
    border: 3px solid white;
    margin-top: 115px;
    margin-left: 85px;
    
}

.content2 {
    margin-top: 100px;
    
    
    
}*/

/*.ship {
    border: 3px dashed rgb(64,72,79);
}*/
  
.container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    
  }



  /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
  /* Add a hover effect if you want */
  /*.fa:hover {
    color: pink;
    opacity: 0.7;
  }*/
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
    /*background: #000000;*/
    color: white;
}
  
.fa-facebook:hover {
    color: white;
}
  
  
  /* Twitter */
.fa-instagram {
    /*background: #000000;*/
    color: white;
}
  
.fa-instagram:hover {
    color: white;
}
  
.fa-youtube {
    /*background: #000000;*/
    color: white;
}
  
.fa-youtube:hover {
    
}
  

.social2 {
    font-size: 55px;
    margin-top: 300px;
    margin-left: 50px;
    text-align: center;
    color: white;
}

.social3 {
    /*margin-left: 220px;*/
    text-align: center;
}

.social4 {
    
    transition: all 1s;
}

.social4:hover {
    scale: 1.5;
}

video {
    margin-top: 220px;
    margin-left: 80px;
}