body {
    margin: 0px;
    background-image: url(/Users/sergeiboiko/Study/DI-Bootcamp-Stage1/Final-Project-Share/6554433.gif);
    background-size: cover;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    div {
        width : 30%;
        display: inline-block;
        /*background-color: aqua;*/
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    div {
        width : 45%;
        display: inline-block;
        /*background-color: pink;*/
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    div {
        width : 75%;
        display: inline-block;
        /*background-color: lightgreen;*/
    }
}

@media all and (max-width: 480px) { 
    div {
        
        width : 100%;
        /*background-color: yellow;*/
    }
}

.top-panel {
    width: 100%;
    
}

.dropbtn {
    background-color: rgba(79, 95, 92, 0.225);
    border: 2px solid rgb(66,75,59);
    color: white;
    padding: 16px;
    font-size: 22px;
    border-radius: 7px;
    width: 100%;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    transition: all 1s;
}

/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    background-color: rgb(84, 93, 103);
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
    color: rgba(0, 0, 0, 0.903);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    transition: all 1s;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
    scale: 1.1;
    background-color: rgb(64,72,79)}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: rgb(64,72,79);
    scale: 1.2;
}


.block {
    /*background-color: rgba(65, 77, 84, 0.309);*/
    color: black;
    margin-left: 350px;
    max-width: 55%;
    max-height: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
    margin: 20px;
    margin-top: 180px;
    
    
    
}



/*.title {
    font-size: 55px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;

}*/

.container {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    margin-top: 80px;
    height: 100vh;
    font-size: clamp(2rem, 2.8vw, 5rem);
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    
  }
  
  .typewriter {

      width: 32ch;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10%;
      border-right: 4px solid #212121;
      animation: cursor 1s step-start infinite, text 5s steps(27, end), blink-caret .65s step-end infinite;
      /*animation: text 5s steps(27, end), step-end infinite;*/
  }

  .typewriter.hide {
    opacity: 5s;
  }
  
  @keyframes cursor {
      0%, 100% { 
      border-color: #212121; 
    }
  }
  
  @keyframes text {
      0% { 
      width: 0; 
    }
      100% { 
      width: 32ch; 
    }
  }

  @keyframes blink-caret {
    from, to { border-color: rgb(66,75,59) }
     50% { border-color: transparent; }
       }

.endofpage {
    display: flex;
    color: #ddd;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Cormorant Garamond', serif;
    /*background-color: rgba(150, 116, 98, 0.687);*/
    /*max-width: 100%;
    max-height: 100%;*/
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
    text-align: right;
    
    margin-bottom: 5%;
}



.bottle {
    float: right;
    max-height: 100%;
    transition: all 1s;
    
    
}

.endofpage1 {
    margin-top: 25%;
    
}

.bottle:hover {
    scale: 1.1;
}



