#uniq1 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#uniq2 {
    background-color: rgba(0, 255, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
}

.usual {
    background-color: rgba(255, 0, 0, 0.4);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

p:nth-child(3) {
    font-size: 24px;
}
