
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/films/homepage/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="/films/add-film">ADD a Films</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/films/add-director">ADD a Director</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/films/addfilm">Add film</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/films/adddirector">Add director</a>
    </li>
  </ul>
  
  {% if user.is_authenticated and user.is_superuser %}
  <ul class="navbar-nav mr-auto">




    
    <li class="nav-item {% if request.path == '/films/add-film/' %}active{% endif %}">
      <a class="nav-link" href="{% url 'addfilm' %}">Add Film</a>
    </li>
    <li class="nav-item {% if request.path == '/films/add-director/' %}active{% endif %}">
      <a class="nav-link" href="{% url 'adddirector' %}">Add Director</a>
    </li>
  </ul>
  {% endif %}

