<header>
  <div id="uppage" class="wrapper_2">
      <div class="box1">IMDI</div>
      <div class="box2"><a class="navabout" href="/films/homepage/">Home</a></div>
      {% if request.user.is_authenticated and request.user.is_superuser %}
      <div class="box3"><a class="navabout {% if request.path == '/films/addfilm' %} active {% endif %}" href="/accounts/profile/">Profile</a></div>
      {% endif %}
      {% if not request.user.is_authenticated%}
      <div class="box3"><a class="navabout {% if request.path == '/films/addfilm' %} active {% endif %}" href="/accounts/signup/">Sign up</a></div>
      <div class="box4"><a class="navabout {% if request.path == '/films/addfilm' %} active {% endif %}" href="/accounts/login/">Login</a></div>
      {% endif %}
      <div class="box5"></div>
      {% if request.user.is_authenticated and request.user.is_superuser %}
      <div class="box6"><a class="navabout {% if request.path == '/films/addfilm' %} active {% endif %}" href="{% url 'addfilm' %}">Add Film</a></div>
      <div class="box7"><a class="navabout {% if request.path == '/films/addfilm' %} active {% endif %}" href="{% url 'adddirector' %}">Add Director</a></div>
      {% endif %}
      <div class="box8"></div>
      <div class="box9"></div>
  </div>
</header>











