
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/films/homepage/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Directors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>

    <div style="width: 60%;"></div>


    <!-- <li class="nav-item">
      <a class="nav-link" href="/films/addfilm">Add film</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/films/adddirector">Add director</a>
    </li>
  </ul> -->
  
  {% if request.user.is_authenticated and request.user.is_superuser %}

  <ul class="navbar-nav mr-auto">
    <li class="nav-item {% if request.path == '/films/addfilm' %} active {% endif %}">
      <a class="nav-link" href="{% url 'addfilm' %}">Add Film</a>
    </li>
    <li class="nav-item {% if request.path == '/films/adddirector' %} active {% endif %}">
      <a class="nav-link" href="{% url 'adddirector' %}">Add Director</a>
    </li>
  </ul>

  {% endif %}




  <!-- <li class="nav-item">
    <a class="nav-link" href="/films/addfilm">Add film</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/films/adddirector">Add director</a>
  </li>
</ul> -->

